{
  "printWidth": 180,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": ["vue"],
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "preserve",
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true
}
